{% extends 'base1.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Membre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ membre.password }}</td>
            </tr>
            <tr>
                <th>Date_naiss</th>
                <td>{{ membre.dateNaiss ? membre.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ membre.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ membre.adress }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ membre.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_membre_index') }}">back to list</a>

    <a href="{{ path('app_membre_edit', {'id': membre.id}) }}">edit</a>

    {{ include('membre/_delete_form.html.twig') }}
{% endblock %}
