{% extends 'home/index.html.twig' %}

{% block title %} Utilisateur {% endblock %}

{% block body %}

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-12"  style="display: flex; justify-content: center;align-items:center;width: 100%" >
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>

                            <div class="container">
                                {% for flash_error in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}
                                <B>   <h1 style="color: antiquewhite" >Reset your password</h1></B>

                                <div class="fw-divider-space " style="padding-top: 100px;"></div>





                                {{ form_start(requestForm) }}
                                {{ form_row(requestForm.email) }}
                                <div>
                                    <BR>

                                    <div class="fw-divider-space " style="padding-top: 50px;"></div>


                                    <p>  Enter your email address and we will send you a
                                        link to reset your password.</p>
                                </div>

                                <button type="submit" class="btn" style="background-color: #731036 ; color: white">Envoyer Mail</button>

                                <a  class="btn" style="background-color: #731036 ; color: white" href="{{ path('app_login') }}">Annuler</a>

                                {{ form_end(requestForm) }}



                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


{% endblock %}