{%block body%}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12"  style="display: flex; justify-content: center;align-items:center;width: 100%" >
                <div class="card-box">
                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>


                    {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}




                        <div class="form-group">

                            <label for="nom">date</label>

                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.date, {'attr': {'class': 'text-danger'}}) }}


                        </div>
                        <div class="form-group">

                            <label for="nom">Description</label>


                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.description, {'attr': {'class': 'text-danger'}}) }}

                        </div>


                        <div class="form-group">

                            <label for="nom">Traitement</label>


                            {{ form_widget(form.traitement, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.traitement, {'attr': {'class': 'text-danger'}}) }}

                        </div>

                    <div class="form-group">

                        <label for="nom">Rendez-vous</label>


                        {{ form_widget(form.rendezvous, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.rendezvous, {'attr': {'class': 'text-danger'}}) }}

                    </div>

                        <div class="form-group text-right m-b-0">
                            <button class="btn">{{ button_label|default('Save') }}</button>


                        </div>

                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}